@import url("styles.css");

.listings-pro {
    text-align: center;
    width: 20%;    
    background-color: var(--accent-color2);
    display: inline;
}
.profile {
    width: 60%;
    display: flex;
}
.rankings {
    text-align: center;
    width: 20%;
}
.infoL {
    width: 25%;
    text-align: center;
    display: inline;
}
.infoR {
    width: 35%;
    text-align: left;
    display: inline;
}
.pfp {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}